$primary-color: #68bd7a;
$secondary-color: #000000;
$test-color:#ffffff;
$test-color2:#000000;
$background-color: #ffffff;
$background-color2: #000000;
$background-color3: linear-gradient(to left,  #68bd7a, #3ee9be); 
$shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);

